body{
    margin: 0;
    padding: 0;
    width: 1470px;
    height: 1000px;
    display: flex;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;

}
.LeftBox{
    width: 35%;
    height: 100%;
    background-color: #202020;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.LeftBox img{
    margin-top: 5%;
    width: 290px;
    height: 350px;
    border: 5px dashed #ffc221;
    box-shadow: 200px #ffc221;
    margin-bottom: 5%;
}

.information{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
}
.Names{
    margin-top: 5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.NamesInfo{
    position: absolute;
    top: 460px;
    left: 20px;
    text-transform: uppercase;
    color: #ffc221;
    
}
.skills{
    max-width: 361px;
    display: flex;
    justify-content: flex-start;
    position: absolute;

}
.skillsBox{
    margin-right: 10px;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc221;
    border-radius: 50px;
    font-size: 20px;
    color: black;
}
.skills_rating{
    position: absolute;
    top: 60px;
    left: 15px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
}
.star{
    margin-right: 43px;
}
#langs{
position: absolute;
top: 90px;
}
.lang{
    max-width: 361px;
    position: absolute;
    top: 133px;
    display: flex;
    justify-content: flex-start;
}
.lang_rating{
    color: white;
    position: absolute;
    top: 165px;
    font-size: 15px;
    display: flex;
}
#ru{
    margin-left: 7px;
}
#eng{
    margin-left: 45px;
}

#deutsch{
    margin-left: 65px;
    
}

/* RIGHT PANEL */


.RightBox{
    width: 100%;
    height: 100%;
    background-color: #ffc221;
    box-shadow: inset 0px  0px 90px black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button1{
    margin-top: 20px;
    width: 80%;
    height: 25%;
    background-color: #202020;
    border-radius: 100px;
    margin-bottom: 20px;
    transition: 1s;
}
.button1:hover{
    width: 85%;
    height: 30%;
    transition: 1s;
}


.button2{
    margin-top: 20px;
    width: 80%;
    height: 25%;
    background-color: #202020;
    border-radius: 100px;
    margin-bottom: 20px;
    transition: 1s;
}
.button2:hover{
    width: 85%;
    height: 30%;
    transition: 1s;
}
.button3{
    margin-top: 20px;
    width: 80%;
    height: 25%;
    background-color: #202020;
    border-radius: 100px;
    margin-bottom: 20px;
    transition: 1s;
}
.button3:hover{
    width: 85%;
    height: 30%;
    transition: 1s;
}
.button4{
    margin-top: 20px;
    width: 80%;
    height: 25%;
    background-color: #202020;
    border-radius: 100px;
    margin-bottom: 20px;
    transition: 1s;
}
.button4:hover{
    width: 85%;
    height: 30%;
    transition: 1s;
}
